# Fichiers temporaires d'emacs
*~
*#
.#*

# Fichiers objet générés
*.o

# Binaire
dungeon-battle

# Documentation
doc/

tests/*
!tests/*.hpp
!tests/*.ini
!tests/data/

data_tmp/*

map.map

.dir-locals.el
