language: cpp
script: make doc && make debug

before_install:
 - sudo apt-get -qq update
 - sudo apt-get install -y libsfml-dev
 - sudo apt-get install -y doxygen

deploy:
  name: Travis Documentation Generation
  provider: pages
  local_dir: doc/html
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
