sudo: required

services:
  - docker

language: cpp

before_install:
 - docker run -d --name artful -v $(pwd):/travis ubuntu:artful tail -f /dev/null
 - docker ps

install:
 - docker exec -t artful bash -c "apt-get update"
 - docker exec -t artful bash -c "apt-get install -y --no-install-recommends build-essential"
 - docker exec -t artful bash -c "apt-get install -y --no-install-recommends libsfml-dev"
 - docker exec -t artful bash -c "apt-get install -y --no-install-recommends doxygen"

script:
 - docker exec -t artful bash -c "cd /travis;
   make doc CXX=g++-7";
 - docker exec -t artful bash -c "cd /travis;
   make debug CXX=g++-7;"
 - docker exec -t artful bash -c "cd /travis;
   make tests CXX=g++-7;"
 - docker exec -t artful bash -c "cd /travis/tests;
   ./test_configuration;"

deploy:
  name: Travis Documentation Generation
  provider: pages
  local_dir: doc/html
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
