dist: trusty

language: cpp
script:
 - source install_clang.sh
 - source install_sfml.sh
 - make doc CXX=clang/bin/clang++ CFLAGS="-std=c++1z -ISFML/include" LFLAGS=" -lsfml-graphics -lsfml-window -lsfml-system -Wl,-rpath,. -LSFML/lib"
 - make debug CXX=clang/bin/clang++ CFLAGS="-std=c++1z -ISFML/include" LFLAGS=" -lsfml-graphics -lsfml-window -lsfml-system -Wl,-rpath,. -LSFML/lib"
 - make tests CXX=clang/bin/clang++ CFLAGS="-std=c++1z -ISFML/include" LFLAGS=" -lsfml-graphics -lsfml-window -lsfml-system -Wl,-rpath,. -LSFML/lib"
 - cd tests
 - ./test_configuration
 - cd ..

before_install:
 - sudo apt-get -qq update
 - sudo apt-get install -y doxygen

deploy:
  name: Travis Documentation Generation
  provider: pages
  local_dir: doc/html
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
