dist: trusty

language: cpp
script:
 - source install_clang.sh
 - make doc CXX=clang/bin/clang++
 - make debug CXX=clang/bin/clang++
 - make tests CXX=clang/bin/clang++
 - cd tests
 - ./test_configuration
 - cd ..

before_install:
 - sudo apt-get -qq update
 - sudo apt-get install -y libsfml-dev
 - sudo apt-get install -y doxygen

deploy:
  name: Travis Documentation Generation
  provider: pages
  local_dir: doc/html
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
